<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css">
    <title>Pdf to Mp3</title>
</head>

<body>
    <div class="container mx-auto mt-20">
        <form class="mx-auto w-full p-4 bg-gray-200" action="/">
            <label for="pdf-file">Select PDF file:</label>
            <input class="" type="file" name="pdfFile" accept=".pdf">
            <button type="submit" class="pdf-submit w-full mt-4 bg-blue-500 text-white">Convert to MP3</button>
        </form>
    </div>
    <script>
        const form = document.querySelector('form');
        const pdfBtn = form.querySelector('.pdf-submit');
        pdfBtn.addEventListener('click', (e) => {
        })
    </script>
</body>

</html>